  body {
    height: 100%;
    font-family: var(--fontFamily);
    background-image: url('coui://gameui/Media/Menu/OverlayBackground.png');
    background-size: cover;

    &.mon1 {
      background-image: none;

      #bgMask {
        background-color: rgba(12, 12, 12, .7);
        position: fixed;
        z-index: -5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    &.disabled {
      display: none;
    }

    &.transparent {
      background: transparent;

      &.mon1 {
        background-image: none;

        #bgMask {
          display: none;
        }
      }

      div#taskbar {
        width: 60rem;
        padding: 0;
        overflow: hidden;
        filter: opacity(0.250000);

        .rightInfo,
        .appButton {
          display: none;
        }
      }

      main,
      div[id^="single-spa-application:"] {
        display: none;
      }
    }
  }


  div#taskbar {
    height: 50rem;
    position: fixed;
    background-color: var(--menuPanel1);
    backdrop-filter: var(--menuBlur);
    color: var(--menuText1Normal);
    text-transform: uppercase;
    font-size: var(--fontSizeXL);
    padding-top: 0.000000rem;
    padding-left: 70.000000rem;
    padding-right: 90.000000rem;
    padding-bottom: 0.000000rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;

    %active {
      background-color: rgba(65, 200, 250, 0.300000);
      background-size: 35rem;
    }

    .startMenu {
      position: absolute;
      background-color: var(--menuPanel1);
      backdrop-filter: var(--menuBlur);
      color: var(--menuText1Normal);
      font-size: var(--fontSizeXL);
      padding-top: 0rem;
      padding-left: 20rem;
      padding-right: 20rem;
      padding-bottom: 0rem;
      bottom: 0;
      left: 0;
      top: 0;
      width: 60rem;
      display: block;
      background-image: url('../images/euis.svg');
      background-repeat: no-repeat;
      background-position: center;
      transition-property: background-color, background-size;
      transition-duration: 0.150000s;
      transition-delay: 0.000000s;
      transition-timing-function: ease;
      background-size: 30rem;

      &:hover {
        background-color: var(--menuPanel2);
        background-image: url("../images/euis.svg");
        background-size: 35rem;
        filter: brightness(120%);
      }

      &.active {
        @extend %active
      }
    }

    .rightInfo {
      font-size: var(--fontSizeS);
      position: absolute;
      bottom: 2rem;
      right: 0;
      top: 2rem;
      width: 80rem;
      height: 100%;
      border-left: .5rem solid rgba(220, 220, 220, .2);

      .clock {
        position: relative;
        top: 50%;
        right: 50%;
        left: 50%;
        margin-left: -100%;
        line-height: 0;
        height: 0;
        text-align: center;
      }

      .date {
        position: relative;
        right: 50%;
        top: 80%;
        left: 50%;
        margin-left: -100%;
        line-height: 0;
        height: 0;
        text-align: center;
      }

      .monitorNum {
        position: relative;
        right: 50%;
        top: 15%;
        left: 50%;
        margin-left: -100%;
        line-height: 0;
        height: 0;
        text-align: center;
        font-weight: bold;
      }
    }

    .appButton {
      width: 50.000000rem;
      height: 100.000000%;
      background-color: rgba(65, 170, 250, 0.100000);
      backdrop-filter: var(--menuBlur);
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      margin-left: 2.000000rem;
      transition-property: background-color, background-size;
      transition-duration: 0.150000s;
      transition-delay: 0.000000s;
      transition-timing-function: ease;
      background-size: 30rem;
      background-image: var(--appBtnIcon);

      &:hover {
        background-color: rgba(65, 170, 250, 0.600000);
        background-size: 35rem;
      }

      &.active {
        @extend %active
      }
    }

  }

  main {
    position: absolute;
    bottom: 40rem
  }

  div[id^="single-spa-application:"] {
    background-color: var(--menuPanel1);
    backdrop-filter: var(--menuBlur);
    position: fixed;
    left: 0.000000rem !important;
    right: 0.000000rem !important;
    top: 0.000000rem !important;
    bottom: 50.000000rem !important;
    border-bottom-color: rgba(215, 215, 215, 0.600000) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2.000000rem !important;
    overflow: scroll !important;
  }



  .main-column__D0AW2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch
  }

  .scrollable__DXr5q {
    --contentPadding: 0rem;
    --contentPaddingHorizontal: var(--contentPadding);
    --contentPaddingVertical: var(--contentPadding);
    --scrollbarSize: 16rem;
    --scrollbarPadding: var(--scrollbarSize);
    --scrollbarThumbSize: 4rem;
    --scrollbarMarginHorizontal: 6rem;
    --scrollbarMarginVertical: 6rem;
    max-height: 100%;
    overflow: hidden;
    position: relative;

    padding: 0;

    &.track-visible-x__qNTUh .track__e3Ogi.y__SMM6s {
      bottom: var(--scrollbarSize)
    }

    &.track-visible-y__RCApx .track__e3Ogi.y__SMM6s {
      opacity: 1;
      pointer-events: auto
    }

    &.track-visible-x__qNTUh .track__e3Ogi.x__TNKky {
      opacity: 1;
      pointer-events: auto
    }

    &.track-visible-y__RCApx .track__e3Ogi.x__TNKky {
      right: var(--scrollbarSize)
    }

    &.y__SMM6s .content__gqaDy {
      overflow-y: auto
    }

    &.track-visible-x__qNTUh .track__e3Ogi.y__SMM6s {
      bottom: var(--scrollbarSize)
    }

    &.track-visible-y__RCApx .track__e3Ogi.y__SMM6s {
      opacity: 1;
      pointer-events: auto
    }

    &.track-visible-x__qNTUh .bottom-padding__JS3wW {
      height: var(--scrollbarPadding)
    }
  }

  .bottom-padding__JS3wW {
    height: var(--contentPaddingVertical)
  }

  .scrollable__Ptfvi {
    flex: 1;
    --contentPadding: 24rem;
    --scrollbarPadding: 24rem
  }


  .y__SMM6s {
    width: 100%;
    height: 0
  }



  .track__e3Ogi {
    position: absolute;
    background-color: rgba(var(--scrollbarColor), 0.15);
    border-radius: 2rem;
    opacity: 0;
    pointer-events: none;

    &.x__TNKky {
      bottom: calc((var(--scrollbarSize) - var(--scrollbarThumbSize))/2);
      left: var(--scrollbarMarginHorizontal);
      right: var(--scrollbarMarginHorizontal);
      height: var(--scrollbarThumbSize)
    }

    &.y__SMM6s {
      right: calc((var(--scrollbarSize) - var(--scrollbarThumbSize))/2);
      top: var(--scrollbarMarginVertical);
      bottom: var(--scrollbarMarginVertical);
      width: var(--scrollbarThumbSize)
    }
  }


  .thumb__CiblF {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(var(--scrollbarColor), 0.6);
    border-radius: 2rem;
    pointer-events: auto;


    &.x__TNKky {
      width: 0;
      height: 100%
    }

    &.y__SMM6s {
      width: 100%;
      height: 0
    }

    &.thumb__CiblF:hover {
      background-color: rgba(var(--scrollbarColor), 0.8)
    }

    &.pressed__iMJUl {
      background-color: rgba(var(--scrollbarColor), 1)
    }
  }


  .button__WWaYD {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--menuHoverColorBright);
    padding: 6rem 24rem;
    border-radius: 4rem;
    color: var(--menuText1Normal);
    font-size: var(--fontSizeS);
    text-transform: uppercase;

    &:hover,
    .focused {
      background-color: var(--menuFocusedColor);
      color: var(--menuText1Inverted)
    }

    &:hover .icon__OPJFb,
    .focused .icon__OPJFb {
      --iconColor: var(--menuText1Inverted)
    }

    &:active {
      background-color: var(--menuActiveColor);
      color: var(--menuText1Inverted)
    }

    &:active .icon__OPJFb {
      --iconColor: var(--menuText1Inverted)
    }

    &.button__WWaYD[disabled] {
      background-color: var(--menuDisabledColor);
      color: var(--menuText1Disabled)
    }
  }

  .button__SH8X2 {
    margin: 4rem;
    white-space: nowrap
  }


  .field__MBOM9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8rem 16rem;
    min-height: 64rem;

    .field__UuCZq {
      color: var(--menuText1Normal);
      border-radius: 4rem;
      font-size: var(--fontSizeM)
    }

    &:hover {
      background-color: var(--menuHoverColor)
    }

    &.focused {
      background-color: var(--menuActiveColor)
    }

    &disabled {
      color: var(--menuText1Disabled)
    }
  }

  .label__DGc7_ {
    flex: 1;
    margin-right: 16rem
  }

  .label__ZLbNH {
    font-size: var(--fontSizeL);
    overflow: hidden
  }

  .toggle__ccalN {
    --checkmarkColor: white;
    --disabledCheckmarkColor: grey;
    width: 24rem;
    height: 24rem;
    padding-top: var(--gap1);
    padding-right: var(--gap1);
    padding-bottom: var(--gap1);
    padding-left: var(--gap1);
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-top-width: var(--stroke2);
    border-left-width: var(--stroke2);
    border-bottom-width: var(--stroke2);
    border-right-width: var(--stroke2);
    border-top-color: var(--accentColorLight);
    border-left-color: var(--accentColorLight);
    border-bottom-color: var(--accentColorLight);
    border-right-color: var(--accentColorLight);
    border-radius: 3rem;
    transition: background-color 150ms;

    &.disabled {
      border-color: dimgray;

      .checkmark__NXVuH {
        background-color: var(--disabledCheckmarkColor)
      }
    }

  }

  .item-mouse-states__FmiyB {
    &:hover {
      background-color: var(--hoverColorNormal)
    }

    &:hover.selected {
      background-color: var(--selectedColor)
    }

    &:hover.focused {
      background-color: var(--focusedColor)
    }

    &:active {
      background-color: var(--activeColorNormal)
    }

    &:active.selected {
      background-color: var(--selectedColor)
    }

    &:active.focused {
      background-color: var(--focusedColor)
    }
  }

  .toggle__th_34 {
    width: 28rem;
    height: 28rem;
    border-top-color: var(--menuControlBorder);
    border-left-color: var(--menuControlBorder);
    border-bottom-color: var(--menuControlBorder);
    border-right-color: var(--menuControlBorder);

    &.disabled .checkmark__NXVuH {
      background-color: var(--disabledCheckmarkColor)
    }
  }

  .toggle__th_34,
  .toggle__th_34:hover,
  .toggle__th_34:active {
    background-color: var(--menuControl1)
  }

  .toggle__th_34.disabled,
  .toggle__th_34:hover.disabled,
  .toggle__th_34:active.disabled {
    opacity: .5
  }

  .checkmark__NXVuH {
    width: 100%;
    height: 100%;
    mask-image: url('coui://gameui/Media/Glyphs/Checkmark.svg');
    mask-size: 100%;
    background-color: var(--checkmarkColor);
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.32, 0, 0.67, 0)
  }

  .checkmark__NXVuH.checked {
    opacity: 1;
    transition: opacity 150ms cubic-bezier(0.33, 1, 0.68, 1)
  }