[submodule "ExtraUIScreens/BelzontCommons"]
	path = ExtraUIScreens/BelzontCommons
	url = ../BelzontCommons
[submodule "_Frontends/UI/_replacements"]
	path = _Frontends/UI/_replacements
	url = ../Cs2UIUtility
