.b-tooltip {
    max-width: calc(450rem*var(--fontScale));
    background-color: var(--tooltipColor);
    filter: var(--tooltipFilter);
    border-radius: 4rem;
    font-size: var(--fontSizeS);
    color: var(--textColorDim);
    pointer-events: none;
    white-space: pre-wrap;

    position: absolute;
    padding: 7rem 10rem;
    z-index: 1000;
    overflow: hidden;
    opacity: 0;

    transition: opacity 400ms ease-in 50ms;

    * {
        display: flex;
        flex-wrap: wrap;
    }

    &.tooltip-visible {
        opacity: 1;

        &.tooltip-removing {
            opacity: 0;
        }
    }
}