section#tableContent {
    position: absolute;
    bottom: 0.000000px;
    top: 0.000000rem;
    left: 0.000000px;
    right: 0.000000px;

    gameface-scrollable-container {
        position: absolute;
        bottom: 0.000000px;
        top: 66.000000rem;
        left: 0.000000px;
        right: 0.000000px;


    }
}