:root {
    --scrollbarColor: 255, 255, 255;
}

.guic-horizontal-slider-wrapper {
    width: 90vh;
    display: flex;
    flex-direction: row;
    max-height: 15rem;
}

.guic-slider-horizontal-arrow {
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.guic-slider-arrow-right {
    width: 0;
    height: 0;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;

    border-left: 5rem solid #505050;
}

.guic-slider-arrow-left {
    width: 0;
    height: 0;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;

    border-right: 5rem solid #505050;
}

.guic-slider-horizontal-arrow:hover {
    background-color: #c1c1c1;
}

.guic-slider-horizontal-slider {
    width: 90%;
    background-color: #f1f1f1;
}

.guic-slider-horizontal-handle {
    position: relative;
    top: 0rem;
    left: 0rem;
    height: 100%;
    width: 50rem;
    background-color: #c1c1c1;
    cursor: pointer;
}

.guic-slider-horizontal-handle:hover {
    background-color: #787878;
}

.guic-vertical-slider-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 5rem;
}

.no-arrows {
    .guic-slider-vertical-arrow {
        display: none;
    }
}

.guic-slider-vertical-arrow {
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.guic-slider-vertical-arrow:hover {
    background-color: #c1c1c1;
}

.guic-slider-arrow-up {
    width: 0;
    height: 0;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;

    border-bottom: 5rem solid #505050;
}

.guic-slider-arrow-down {
    width: 0;
    height: 0;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;

    border-top: 5rem solid #505050;
}

.guic-slider-vertical-slider {
    background-color: rgba(var(--scrollbarColor), 0.15);
    border-radius: 2rem;
    flex: 1;
    margin-bottom: 5.000000rem;
    margin-top: 5.000000rem;
    overflow: hidden;
}

.guic-slider-vertical-handle {
    position: relative;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 50rem;
    background-color: rgba(var(--scrollbarColor), 0.6);
    border-top-left-radius: 2.000000rem 2.000000rem;
    border-top-right-radius: 2.000000rem 2.000000rem;
    border-bottom-left-radius: 2.000000rem 2.000000rem;
    border-bottom-right-radius: 2.000000rem 2.000000rem;

    &:hover {
        background-color: rgba(var(--scrollbarColor), 0.8)
    }
}



.guic-slider-component,
.guic-vertical-slider-component {
    width: 10.000000rem;
    display: none;
    margin-left: -10.000000rem;
}

.guic-scrollable-container-wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.guic-scrollable-container {
    width: 100%;
    overflow: scroll;
}